.c-header {
  position: relative;
}

.c-header__main {
  width: 100%;
}

.o-headeroverlay {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.5);
}

.c-header__title {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
}

.c-header__title span {
    font-size: 15px;
    color: white;
}

.c-header__event {
    width:100%;
}

.c-page-title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.c-footer {
    background-color: rgb(10, 117, 170);
    color: white;
    padding: 20px 0;
    margin-top: 100px;
}

.c-footer-list {
    margin:0;
    padding: 0;
    list-style: none;
}

.c-footer-list li {
    margin: 5px 0;
}

.c-main {
    min-height: 700px;
}

.c-event-link, .c-event-link:link, .c-event-link:visited, .c-event-link:active {
    color: black;
}

.c-event-link:hover {
    color: #0A75AA;
    text-decoration: none;
}
