/*
    Components: Photo
*/

.c-photo {
  width: 100%;
}

.c-photo--slider {
    height:100%;
}

.c-photo-homepage {

  width: 100%;
  margin-bottom: 10px;
}

.a-card {
  margin-right: 5px;
  margin-bottom: 5px;
}

.masonry-brick {
    width:100%; padding: 5px;
}

@media only screen and (min-width: 600px) {
    .masonry-brick {
        width:50% !important;
    }

    .c-slider__slides {
        height: 400px !important;
    }

    .c-header__title span {
        font-size: 23px !important;
    }

}

@media only screen and (min-width: 900px) {
    .masonry-brick {
        width:25% !important;

    }
    .c-slider__slides {
        height: 600px !important;
    }

    .c-header__title span {
        font-size: 30px !important;
    }
}



.imageWrapper {
    list-style: none;
    margin:0;
    padding:0;
}
