/*
    Components: Slider
*/

.sliderWrapper {
}

.c-slider__slides {
   height: 200px;
 }

.c-slider {
  overflow: hidden;
}

.carousel-control.left {
  margin-left: 0;
}

.carousel-control:visited {
  color: white;
}

.carousel-control {
  color: white;
  width: 10%;
}
