<div ng-if="!data">

  <div class="spinner"></div>

</div>

<div ng-if="data">



<div class="c-header">

  <div class="o-headeroverlay c-header__title">
    <span>Veronique Cauchie</span>
  </div>

  <div class="c-slider">
    <div uib-carousel class="c-slider__slides" active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img class="c-photo c-photo--slider" ng-src="{{slide.image}}">
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="c-albums">

      <h1>Foto's</h1>

    <div masonry class="albumsWrapper">

      <div class="masonry-brick c-album" ng-repeat="album in albums" ng-click="showAlbum(album.title)">
        <div class="c-album__image">
          <img class="c-photo" ng-src="{{album.photos[0].url}}">

          <div class="c-overlay"></div>
        </div>



        <div class="c-overlay-text">
          <h3>{{album.elementTitle}}</h3>

          <p>{{album.elementDesc}}</p>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container c-second-row">

  <div class="c-row clearfix" ng-if="upcomming">

    <a class="c-image c-image--left" href="{{upcomming.desc.Url}}">
      <img class="c-photo c-photo--event" ng-src="{{upcomming.url}}">
    </a>

    <div class="c-row-content c-row-content--right">

      <h1>Event</h1>

      <h3>{{upcomming.desc.Date}}</h3>
      <p>{{upcomming.desc.description}}</p>
      <a class="c-event-link" href="{{upcomming.desc.Url}}">Lees meer</a>

    </div>

  </div>

  <div class="c-row clearfix">

    <a class="c-event-link c-image c-image--right" href="">
      <img class="c-photo c-photo-homepage" ng-src="./img/veronique-small.jpg">
    </a>

    <div class="c-row-content c-row-content--left">

      <h1>Vero</h1>

      <p>Voornamelijk maak ik gebruiksvriendelijk serviesgoed, gebakken tussen 1200 en 1240 °C.</p>
      <a href="#vero-popup" class="c-event-link js-vero-info">Lees meer</a>
    
      <div id="vero-popup" class="white-popup mfp-hide">
        Voornamelijk maak ik gebruiksvriendelijk serviesgoed, gebakken tussen 1200 en 1240 °C. Door de hoge baktemperatuur mag de keramiek in de vaatwas, microgolf en oven. Daarnaast werk ik ook graag met porselein die ik op verschillende manieren decoreer. Mijn inspiratie komt meestal van de verre reizen die ik samen met mijn gezin doorbreng. Voor mijn beeldjes gebruik ik verschillende texturen waardoor de klei mooi kan ingekleurd worden met oxydes en glazuren. Ook werk ik graag op bestelling waardoor de keramiek gepersonaliseerd kan worden met bv naam of logo. In mijn atelier zijn jullie steeds welkom om mijn nieuwe creaties te komen bekijken.
      </div>

    </div>

  </div>

  </div>

</div>