<div class="c-header">
  <div class="o-headeroverlay c-header__title">
      <span>Veronique Cauchie</span>
  </div>
  <div class="c-header__main">

    <div class="c-slider">
      <div uib-carousel class="c-slider__slides" active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img class="c-photo c-photo--slider" ng-src="{{slide.image}}">
        </div>
      </div>
    </div>

  </div>
  <div ng-if="upcomming" class="o-headeroverlay c-header__event">
    <img class="c-photo c-photo--event" ng-src="{{upcomming.url}}">
    <h3>{{upcomming.desc.Date}}</h3>
    <p>{{upcomming.desc.description}}</p>
  </div>
</div>

<div class="c-albums">

  <div class="container">
    <h1>Foto's</h1>
  </div>

  <div class="container c-albums">
    <div ng-repeat="subset in albumSubSets" class="row">
      <div ng-repeat="album in subset" class="col-md-3">
        <div class="c-album" ng-click="showAlbum(album.title)">
          <div class="c-album__image">
            <img class="c-photo" ng-src="{{album.photos[0].url}}">
          </div>

          <h3>{{album.summary.title}}</h3>

          <p>{{album.summary.description}}</p>

        </div>

      </div>
    </div>
  </div>
</div>
